@model IEnumerable<TrecercoSpedizioni.Models.DettagliSpedizioni>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatoSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuogoCorrente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAggiornamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuogoCorrente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAggiornamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idDettagliSpedizione">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idDettagliSpedizione">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idDettagliSpedizione">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
