@model TrecercoSpedizioni.Models.Spedizioni

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spedizoni</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSpedizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSpedizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CittaDestinazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CittaDestinazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirizzoDestinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoDestinatario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominativoDestinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominativoDestinatario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoSpedizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoSpedizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConsegnaPrevista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConsegnaPrevista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
